<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyplan.exam.dao.EnrollMapper">

    <sql id="enrollColumn">
        enroll_id AS enrollId, exam_no AS examNo, candidate_id AS candidateId, real_name AS realName,
        id_card AS idCard, gender, contact, email, edu_back AS eduBack, home_address AS homeAddress, status
    </sql>
    <sql id="rawEnrollColumn">
        enroll_id, exam_no, candidate_id, real_name, id_card, gender, contact, email, edu_back, home_address, status
    </sql>

    <insert id="insertEnroll">
        INSERT INTO enroll (<include refid="rawEnrollColumn"/>)
        VALUES (#{enroll.enrollId}, #{enroll.examNo}, #{detail.id}, #{detail.realName},  #{detail.idCard},
        #{detail.gender}, #{detail.contact}, #{detail.email}, #{detail.eduBack}, #{detail.homeAddress}, #{enroll.status})
    </insert>

    <update id="updateEnrollStatus">
        UPDATE enroll
        SET status = #{status}
        WHERE enroll_id = #{enrollId}
    </update>

    <update id="updateCandidateEnroll">
        UPDATE enroll
        <set>
            <if test="realName != null and realName != ''">
                real_name = #{realName},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="contact != null and contact != ''">
                contact = #{contact},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="eduBack != null and eduBack != ''">
                edu_back = #{eduBack},
            </if>
            <if test="homeAddress != null and homeAddress != ''">
                home_address = #{homeAddress},
            </if>
        </set>
        WHERE enroll_id = #{enrollId}
    </update>

    <update id="updateEnrollStatusByScore">
        UPDATE enroll
        SET status = #{status}
        WHERE enroll_id in
        <foreach collection="scoreList" separator=", " item="score" open="(" close=")">
            #{score.candidateNo}
        </foreach>
    </update>

    <select id="getLivedEnrollByCandidateId" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        WHERE candidate_id = #{candidateId} AND status != -1 AND status != 2
    </select>

    <select id="getEnrollByCondition" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        <where>
            <if test="realName != null and realName != ''">
                real_name LIKE concat('%', #{realName}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="enrollingList != null and enrollingList.size() > 0">
                AND exam_no IN
                <foreach collection="enrollingList" item="exam" open="(" close=")" separator=",">
                    #{exam.examNo}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getEnrollByCandidateId" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        <where>
            <if test="candidateId != null and candidateId != ''">
                AND candidate_id = #{candidateId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="getEnrollByCandidateIdAndEnrollId" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        WHERE candidate_id = #{candidateId} AND enroll_id = #{enrollId}
    </select>

    <select id="getEnrollById" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        WHERE enroll_id = #{enrollId}
    </select>

    <select id="getSuccessEnrollByCandidateId" resultType="com.tinyplan.exam.entity.po.Enroll">
        SELECT <include refid="enrollColumn"/>
        FROM enroll
        WHERE candidate_id = #{candidateId} AND status IN (1, 2)
    </select>
</mapper>