<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tinyplan.exam.dao.ExamDetailMapper">

    <sql id="rawExamDetailColumn">
        exam_no, exam_id, `level`, exam_name, enroll_start, enroll_end, exam_start, exam_end, `interval`, capacity, remain, fee, pass_line, status
    </sql>

    <sql id="examDetailColumn">
        exam_no AS examNo, exam_id AS examId, `level`, exam_name AS examName,
        enroll_start AS enrollStart, enroll_end AS enrollEnd, exam_start AS examStart, exam_end AS examEnd, `interval`,
        capacity, remain, fee, pass_line AS passLine, status
    </sql>

    <update id="updateExamStatus">
        UPDATE exam_detail
        SET status = #{status}
        WHERE exam_no = #{examNo}
    </update>

    <update id="updateExamRemain">
        UPDATE exam_detail
        SET remain = #{remain}
        WHERE exam_no = #{examNo}
    </update>

    <update id="updateExamDetail">
        UPDATE exam_detail
        <set>
            <if test="examStart != null and examStart != ''">
                exam_start = #{examStart},
            </if>
            <if test="examEnd != null and examEnd != ''">
                exam_end = #{examEnd},
            </if>
            <if test="interval != null">
                `interval` = #{interval}
            </if>
        </set>
        WHERE exam_no = #{examNo}
    </update>

    <select id="getMaxId" resultType="java.lang.Integer">
        SELECT max(id)
        FROM exam_detail
    </select>

    <select id="getLivedExamDetail" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE exam_id = #{examId} AND status &lt; 6 AND status != -1
    </select>

    <select id="getExamDetailByNo" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE exam_no = #{examNo}
    </select>

    <select id="getExamDetailByIdAndStatus" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE exam_id = #{examId} AND status = #{status}
    </select>

    <select id="getAllLivedExamDetail" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE status &lt; 6 AND status != -1
    </select>

    <select id="getExamDetailByStatus" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE status = #{status}
    </select>

    <select id="getExamDetailByCondition" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        <where>
            <if test="examName != null and examName != ''">
                exam_name LIKE concat('%', #{examName}, '%')
            </if>
            <if test="level != null">
                AND `level` = #{level}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="getExamRemain" resultType="java.lang.Integer">
        SELECT remain
        FROM exam_detail
        WHERE exam_no = #{examNo}
    </select>

    <select id="getExamDetailBeforeQueryStatus" resultType="com.tinyplan.exam.entity.po.ExamDetail">
        SELECT <include refid="examDetailColumn"/>
        FROM exam_detail
        WHERE status &lt; #{status}
    </select>

    <insert id="insertExamDetail">
        INSERT INTO exam_detail (<include refid="rawExamDetailColumn"/>)
        VALUES (#{examNo}, #{examId}, #{level}, #{examName}, #{enrollStart}, #{enrollEnd}, #{examStart}, #{examEnd}, #{interval}, #{capacity}, #{remain}, #{fee}, #{passLine}, #{status})
    </insert>
</mapper>